<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripmark.domain.bookmark.repository.BookmarkMapper">
  <insert id="insertBookmark" keyProperty="bookmarkId" useGeneratedKeys="true">
    INSERT INTO bookmarks (user_id,
                           city_id,
                           title,
                           description,
                           url,
                           points_required,
                           status,
                           created_at)
    VALUES (#{userId},
            #{cityId},
            #{title},
            #{description},
            #{url},
            #{pointsRequired},
            #{status},
            NOW())
  </insert>
</mapper>
